<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My first Three.js app</title>
		<style>
        </style>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js">
        </script>
         <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
		 <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
		 <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />			
	</head>
	<body>
		<script>
			
		</script>
	</body>
</html>